{% extends "master_template.html" %}
    {%block title%}
    Borrow Details Section
    {%endblock%}
  {%block body%}

  <h1 class="label label-success"></h1>
  <p>
    <style>
      body {
        background-image: url('/static/bg.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
      }
      </style>
  </p>
  <form class="form-horizontal" action="/borrow_book" method="post" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Student Name:</label>
      <div class="col-sm-10">
        <select class="form-control" id="program" placeholder="Enter Student's Name" name="sm">
          {%for a in c%}
          <option value="{{a.Name}}"> {{a.Name}} </option>
          {%endfor%}
        </select>
      </div>
    </div>
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Title:</label>
        <div class="col-sm-10">
          <select class="form-control" id="program" placeholder="Enter Book's Title" name="bt">
            {%for h in b%}
            <option value="{{h.Title}}"> {{h.Title}} </option>
            {%endfor%}
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Edition:</label>
        <div class="col-sm-10">
          <select class="form-control" id="program" placeholder="Enter Book's Edition" name="be">
            {%for k in book_info%}
            <option value="{{k.Edition}}"> {{k.Edition}} </option>
            {%endfor%}
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="pwd">Book Publication:</label>
        <div class="col-sm-10">
          <select class="form-control" id="program" placeholder="Enter Book's Publication" name="bp">
            {%for j in book_info%}
            <option value="{{j.Publication}}"> {{j.Publication}} </option>
            {%endfor%}
          </select>
        </div>
      </div>
      
      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Voucher No:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="Enter Recipt Serial number" name="vn">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Issue Date:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="DD-MM-YYYY" name="bdate">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-2" for="email">Due Date:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="DD-MM-YYYY" name="date">
        </div>
      </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
{%endblock%}