
{% extends "master_template.html" %}
{%block title%}
  E-Library Management System
{%endblock%}
{% block body%}

<!-- <h2>Welcome</h2> -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>

 <body>
  <image src="{{url_for('static',filename = 'book.jpg')}}" style="width:40%;" >
</body>

<!-- <div id="image" style="background:url(/static/bg.png) center / cover no-repeat;"></div> -->
<p>
  <style>
    body {
      background-image: url('/static/bg.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
    </style>
</p>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Student Name</th>
        <th>Book Title</th>
        <th>Issue Date</th>
        <th>Voucher No</th>
        <th>Due Date</th>
      </tr>
    </thead>
    <tbody>
      {%for stud in students%}
      <tr>
        <td> {{stud.id}}</td>
        <td>{{stud.S_Name}}</td>
        <td>{{stud.B_title}}</td>
        <td>{{stud.bdate}}</td>
        <td>{{stud.token_no}}</td>
        <td>{{stud.due}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  {%endblock%}